body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #aae6d9, #e6e6e6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #87d0c7;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
    border: 2px solid #eef1f0;
}

.container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #191818;
    font-size: 24px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #252323;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 15px;
    transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
select:hover {
    background-color: #d4e3e7;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
    outline: none;
}

input[type="submit"] {
    background-color: #c8cbc1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #2755a5;
    transform: translateY(-2px);
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
}

.select-wrapper::after {
    content: '▼';
    font-size: 14px;
    color: #000000;
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-55%);
    pointer-events: none;
}
